/* herosection.css */

/* Fade-up animation */
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeUp {
  animation: fadeUp 1s ease-out forwards;
}

/* Custom Pagination Styles */
.swiper-pagination-bullet {
  background-color: #000000; /* Normal color: White with light opacity */
  border-radius: 50%;
  width: 10px;
  height: 10px;
  transition: background-color 0.3s ease; /* Smooth transition for active color */
}

.swiper-pagination-bullet-active {
  background-color: #19B3E7; /* Active bullet color: Black (can be changed as needed) */
}

